<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/assets/css/area_paciente.css">

    <title>Easy Diet</title>

</head>

<body>
    <nav id="nav"></nav>
    <main>
        <div id="title">
            <h3>Gestão de Pacientes</h3><br>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="btn btn-primary" id="buttonCadastro">Cadastrar Paciente</a>
            </div>
        </div><br>
        
        <div class="input-group mb-3" id="seach">
            <input type="text" class="form-control" placeholder="Digite o nome do aluno.." aria-label="Username"
                aria-describedby="basic-addon1" id="inputSeach"><br>
        </div>
        <div id="table">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <!-- Pagination -->
              <div class="pagination" id="pagination"></div>
        </div>
    </main>
</body>
<script src="/src/assets/js/area_paciente.js" type="module"></script>
</html>