<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/assets/css/index.css">

    <title>Easy Diet</title>

</head>

<body>
    <nav id="nav"></nav>
    <main>
        <div id="title">
            <h3>Bem-vindo ao Easy Diet</h3><br>
        </div>
        <div id="table">
            <table class="table table-dark table-hover">
                <tbody>
                    <tr>
                        <td id="areaPaciente">Area do Paciente</td>
                    </tr>
                    <tr>
                        <td>Macros Nutrientes</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
<script src="/src/assets/js/index.js" type="module"></script>

</html>